
<div class="intro-wrapper">
  <div class="content-wrapper">
    <h1>Porozmawiaj z nami,</h1>
    <p>Wiemy ze bardzo lubisz rozmawiać, i my też bardzo lubimy sobie pogadać. Zadzwoń do nas! Pozwol nam pogadać sobie
      razem, przestestujmy działanie tej niesamowicie zaawansowanej technologicznie aplikacji.</p>
    <p>Kliknij na ikonę telefonu aby kontynuować ;-)</p>
  </div>
  <div class="icon-call">
    <div id="phone-btn-svg" [inlineSVG]="'/assets/svg/phone.svg'"
    routerLink="/call"></div>
  </div>
</div>

