<div class="grid-wrapper">
  <!-- Form state of view-->
  <div class="item">
    <div class="form-wrapper">
      <h1>
        Wybieranie numeru {{numer}}...
      </h1>
      <p>Serwis za chwile nawiąże z tobą połączenie.</p>
      <hr/>
      <div class="status-grid">
        <div class="user-item">
          <h3>Użytkownik</h3>
          <div id="phone-user" class="phone-icon" [inlineSVG]="'/assets/svg/phone.svg'"
               [ngClass]="getCallIconClass(userCall.status)"></div>
          <div class="status">
            {{userCall.msg}}
          </div>

        </div>
        <div class="other-item">
          <div class="wrapper">
            <h3>Obsługa</h3>
            <div id="phone-other" class="phone-icon" [inlineSVG]="'/assets/svg/phone.svg'"
            [ngClass]="getCallIconClass(otherCall.status)"></div>
          </div>
          <div class="status">
            {{otherCall.msg}}
          </div>
        </div>
        <div class="bridge-item" [hidden]="!bridge.status">
          <div class="bridge-status">
            {{bridge.status}}
          </div>
          <div class="requestProgress">
            <div class="bar"></div>
            <div class="requestItem requestProgress1"></div>
          </div>
        </div>
        <div class="footer-item" *ngIf="isCallEnded()">
          Zakończ połaczenie
        </div>
      </div>
    </div>
  </div>
</div>
