.grid-wrapper {
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-columns: 10% 40% 50%;
  grid-template-rows: 20% 70% 10%;
  height: 100%; width: 100%;
}
.item {
  position: relative;
  display: block;
  width: 100%;
  grid-column: 2;
  grid-row: 2;
  align-self: flex-start;
  justify-self: stretch;
  overflow: hidden;
  border-radius: 2px;
}


.form-wrapper {
  position: relative;
  z-index: 2;
  border-radius: 3px;
  padding: 1em 3em;
  font-family: 'Open Sans', sans-serif;

  background: rgba(255,255,255, 0.9);
  opacity: 0;
  animation: fade-in 0.3s ease-in-out 0.3s;
  animation-fill-mode: forwards;
}
.form-wrapper > h1 {
  font-weight: 300;
  color: #444;
  z-index: 3;
}
.form-wrapper > p {
  font-weight: 300;
  font-style: italic;
}
.form-wrapper hr {
  width: 100%;
  border: none;
  height: 1.5em;
}

/* Status generics */
.wrapper {
  display: block;
  clear: both;
  float: right;
}
.status-grid h3 {
  font-weight: 300;
  font-style: italic;
}
.phone-icon {
  position: relative;
  padding: 16px;
  width: 52px; height: 52px;
  stroke: #888;
  stroke-width: 16px;
  fill: none;
  transition: all 0.35s;
}
.phone-icon::before {
  position: absolute;
  z-index: -1;
  top: 16px; /*+padding*/
  display: block;
  content: '';
  width: 50px; height: 50px;
  border-radius: 50%;
  background: #ccc;
  box-shadow: 0px 0px 6px #ccc;
  opacity: 0;
  animation: pulsating 1s infinite ease-in-out;
}
/* Statuses response */
.phone-icon.FAILED,
.phone-icon.NO-ANSWER,
.phone-icon.BUSY {
  transform: rotate(135deg) translate(-4px, -11px);
  transition: all 0.35s;
  stroke: #c43e3f;
}
.phone-icon.RINGING {
  stroke: #1172c4;
  animation: ringing 0.1s infinite linear;
}
@keyframes ringing {
  from {transform: rotate(-5deg);}
  to {transform: rotate(5deg);}
}
/* pulsating circle */
.phone-icon.RINGING::before {
  background: #1172c4;
  box-shadow: 0px 0px 6px #1172c4;
  animation-duration: 0.6s;
}
.phone-icon.CONNECTED::before {
  background: #5c6;
  box-shadow: 0px 0px 6px #5c6;
}
.phone-icon.FAILED::before,
.phone-icon.NO-ANSWER::before,
.phone-icon.BUSY::before {
  background: #c43e3f;
  box-shadow: 0px 0px 6px #c43e3f;
  animation-iteration-count: 6;
  animation-fill-mode: forwards;
}


@keyframes pulsating {
  0% {opacity: 0; transform: scale(0.1);}
  20% {opacity: 0.3; transform: scale(0.5);}
  100% {opacity: 0; transform: scale(2.5);}
}

.status {
  display: block;
  clear: both;
  color: #bbb;
  font-size: 10pt;
  width: 100%;
}

.status-grid {
  position: relative;
  grid-auto-columns: 35% 30% 35%;
  display: grid;
  justify-items: stretch;
  align-content: space-around;
  min-height: 200px;
  height: 100%; width: 100%;
}
/* user*/
.user-item {
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
}

/* other */
.other-item {
  grid-row: 1;
  grid-column: 3;
  justify-self: end;
}
.other-phone-mirror {
  transform: scale(-1,1);
}

.bridge-item {
  padding: 0 1em;
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: stretch;
}
.bridge-status {
  font-size: 10pt;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: #444;
}


/* Indeterminate progress bar */
/* https://codepen.io/ajperel/pen/jPqXeb */
.requestProgress {
  /*DK: This'll make it stand-out from actual
    grid column */
  width: 250%;
  margin-left: -75%;
  height: 2px;
  display: flex;
  position: relative;
  overflow: hidden;
  transition: color 0.2s;
}

.bar {
  position:absolute; top: 0;
  background-color: #eee;
  width: calc(100% * 3/7);
  height: 100%;
  animation: move 1.35s ease-in infinite;
}

@keyframes move
{
  0%   {transform: translate(-100%, 0)}
  100% {transform: translate(calc(7/2*100%), 0)}
}

.requestItem {
  flex: 1 100%;
}

.requestProgress1 { background-color: #98a3b5; }
.requestProgress.READY   .requestProgress1,
.requestProgress.FINISHED   .requestProgress1{ background-color: #1172c4; }
.requestProgress.BRIDGED .requestProgress1{ background-color: #54c461; }
.requestProgress.FAILED  .requestProgress1{ background-color: #c43e3f; }
/* I Loove dirty hacks :) */
.requestProgress.BRIDGED .bar,
.requestProgress.FAILED .bar { width: 100000%; animation-duration: 10000s;}


/* Footer */
.footer-item {
  padding: 1em 0;
  grid-row: 2;
  grid-column: 1 / span 3;
  justify-self: center;
}

/* Button outline */
button.outline {
  cursor: pointer;
  position: relative;
  z-index: 3;
  background: transparent;
  color: #1172c4;
  font-size: 14px;
  border: 2px solid #1172c4;
  border-radius: 2px;
  padding: 10px 40px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
button.outline a {
  text-decoration: none;
}
button.outline:hover {
  color: white;
  background: #1172c4;
  border-color: white;
  transition: all 0.2s linear;
}
button.outline:active {
  background: #0069c4;
}
