<div class="header">
</div>

<div *ngIf="userCall.status || otherCall.status" class="call-button" (click)="call()">
  Statusy połączeń:
  <p>
    Uzytkownik: {{userCall.status}} / {{userCall.msg}} <br/>
    Obsługa: {{otherCall.status}} / {{otherCall.msg}} <br/>
    Bridge: {{bridge.status}} <br/>
  </p>
</div>

<button class="close-call-button" routerLink="/" *ngIf="isCallEnded()">
  Zakończ połączenie
</button>

<div class="grid-wrapper">
  <!-- Form state of view-->
  <div class="item">
    <div class="form-wrapper">
      <h1>
        Wybieranie numeru {{numer}}...
      </h1>
      <p>Serwis za chwile nawiąże z tobą połączenie.</p>
      <hr/>
      <hr/>
      <div class="status-grid">
        <div class="user-item">
          <div id="phone-user" [inlineSVG]="'/assets/svg/phone.svg'"></div>

        </div>
        <div class="other-item">
          <div id="phone-other" [inlineSVG]="'/assets/svg/phone.svg'"></div>

        </div>
        <div class="bridge-item">
          Bridge status
        </div>
      </div>
    </div>
  </div>
</div>
